
<table class="grid">
    <tr>
     <td><b>Name</b></td>
     <td><b>Mode</b></td>
     <td><b>Script</b></td>
     <td><b>Flags</b></td>
     <td><b>Description</b></td>
    </tr>
  {% for factory in $this.factories %}  
    <tr> 
      <td>{{ factory.name }}</td>
      <td>{{ factory.mode }}</td>
      <td>{{ factory.liquid }}{{ factory.profile }}</td>
      <td>{{ factory.format }} {% if factory.bundle = 'true' %} Bundle{% endif %}</td>
      <td>
        {{ factory.details || markdownify}}
      </td>
     </tr>
  {% endfor %}
  </table>      